<%= form_with(model: application, local: true) do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
        <% application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 xs-12">
      <div class="form group">
        <%= form.label :career_id, "Carrera" %>
        <%= form.collection_select(:career_id, Career.all, :id, :name)%>
      </div>

      <div class="form-group">
        <%= form.label :scholarship_id, "Tipo de beca solicitada" %>
        <%= form.collection_select(:scholarship_id, Scholarship.all, :id, :status)%>
      </div>

      <div class="form-group">
        <%= form.label :period, "Periodo" %>
        <%= form.number_field :period %>
      </div>

      <div class="form-group">
        <%= form.label :date_of_application, "Fecha de solicitud" %>
        <%= form.date_select :date_of_application %>
      </div>

      <div class="form-group">
        <%= form.submit "Enviar", class: "btn btn-dark text-white" %>
      </div>
    </div>
  </div>
</div>  
<% end %>
