<div class="container-fluid">
  <div class="col-12 p-2">
    <p id="notice"><%= notice %></p>

    <h1>Carreras</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @careers.each do |career| %>
          <tr>
            <td><%= career.name %></td>
            <td><%= career.description %></td>
            <td><%= link_to 'Ver', career, class: "btn btn-primary text-white" %></td>
            <% unless current_user.nil? || current_user.user_role? || current_user.test_user_role? %>
            <td><%= link_to 'Editar', edit_career_path(career), class: "btn btn-warning" %></td>
            <td><%= link_to 'Eliminar', career, method: :delete, data: { confirm: 'Esta seguro que quiere eliminar esta carrera?' }, class: "btn btn-danger" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <% unless current_user.nil? || current_user.user_role? || current_user.test_user_role? %>
    <%= link_to 'Nueva Carrera', new_career_path %>
    <% end %>
  </div>
</div>