<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @career.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @career.description %>
</p>

<% unless current_user.nil? || current_user.user_role? || current_user.test_user_role? %>
<%= link_to 'Editar', edit_career_path(@career) %> | 
<% end %>
<%= link_to 'Atras', careers_path %>
